extends layout

block content
  h1 #{title}

  form(method='POST', action='')
    div.form-group
      label(for='name') Tag:
      input#name.form-control(type='text', placeholder='Pen, Pencil, Paper, etc.', name='name', value=(undefined===tag ? '' : tag.name))
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg