extends layout

block content
  h1= title

  ul
    each tag in tag_list
      li
        a(href=tag.url) #{tag.name}
        a(href='/catalog/tag/' + tag._id + '/delete')
          button.btn.btn-danger() Delete Tag
    
    else
      li There are no tags.