extends layout

block content

  h1 Tag: #{tag.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Products

    dl
      each product in tag_products
        dt
          a(href=product.url) #{product.name}
        dd #{product.description}

      else
        p This tag has no products.

  